<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <div class="profile-container">
    <div class="profile-info">

      <div class="profile-image"
        [ngStyle]="{'background-image': 'url(https://retroachievements.org' + loginUser.UserPic+')'}">

      </div>

      <div class="profile-text">

        <h2 class="ion-text-capitalize profile-name">{{loginUser.User}}</h2>
        <p class="ion-text-capitalize ">{{loginUser.TotalSoftcorePoints}} </p>

        <ion-chip>
          <ion-label>{{loginUser.TotalSoftcorePoints}}</ion-label>
        </ion-chip>

      </div>

    </div>

  </div>


  <ion-card>
<div class="divFlex">

  <div class="profile-image"
  [ngStyle]="{'background-image': 'url(https://retroachievements.org' + loginUser.UserPic+')'}">

</div>
<div>

<ion-label class="ion-text-end">
  <h2>Ultimo Juego</h2>
  <p>{{ultimoJuego.Title}}</p>
  <p>{{ultimoJuego.Console}}</p>
  <p>{{ultimoJuego.Publisher}}</p>

</ion-label>
</div>
</div>




    <ion-card-header>
      <ion-card-title>Información </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="grid-container">
        <ion-item>
          <ion-thumbnail>
            <img [src]="['https://retroachievements.org' + ultimoJuego.ImageIcon]" alt="imagen">
          </ion-thumbnail>
          <ion-label class="ion-text-end">
            <h2>Ultimo Juego</h2>
            <p>{{ultimoJuego.Title}}</p>
            <p>{{ultimoJuego.Console}}</p>
            <p>{{ultimoJuego.Publisher}}</p>

          </ion-label>
        </ion-item>

        <!-------------------------------Juegos Jugados---------------------------------------->


        <ion-item>
          <div class="lista">
            <h2 class="ion-text-end ion-margin-bottom">Juegos Jugados</h2>
            <div class="juegos">
              <ion-chip *ngFor="let juego of playGames">
                <ion-avatar>
                  <img [src]="['https://retroachievements.org' + juego.ImageIcon]" alt="imagen">
                </ion-avatar>
                <ion-label class="ion-text-nowrap">{{juego.Title}}</ion-label>

              </ion-chip>

            </div>
          </div>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>

  <!--------------------------------Ultimos logros---------------------------------------->

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ultimos Logros</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="grid-container">
        <ion-item>
          <div class="lista">
            <div class="logros">
              <ion-thumbnail *ngFor="let logro of ultimosLogros">
                <img [src]="['https://retroachievements.org' + logro.BadgeURL]" alt="imagen">
              </ion-thumbnail>
            </div>
          </div>
        </ion-item>


        <ion-item>
          <ion-icon name="location-outline" slot="start"></ion-icon>
          <ion-label>
            <h2>Dirección</h2>

          </ion-label>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>


</ion-content>