<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{loginUser.User}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile-container">
  <div class="profile-header">
    <img [src]="['https://retroachievements.org' + loginUser.UserPic]" alt="imagen"  />
   
    <p class="joined-info">Joined in {{getDate()}}</p>
  </div>

  <div class="points-container">
    <div class="point-item">
      <ion-icon name="trophy-outline" class="icon"></ion-icon>
      <div class="point-text">
        <p>Total points: {{loginUser.TotalPoints}}</p>
      </div>
    </div>
    <div class="point-item">
      <ion-icon name="search-outline" class="icon"></ion-icon>
      <div class="point-text">
        <p>Soft points: {{loginUser.TotalSoftcorePoints}}</p>
      </div>
    </div>
  </div>




  <div class="latest-achievement">
    <h3>Latest Achievement</h3>
   <app-carrusel-card [logros]="ultimosLogros"></app-carrusel-card>
  </div>

  <div class="games-played">
    <h3>Ultimos Juegos</h3>
    <app-carrusel [juegos]="playGames"></app-carrusel>
  </div>
  
</ion-content>
